<section id="contact" class="mt-5 p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center g-2 mb-5">
            <div class="col-md-12 text-center">
                <h2>CONATCT SECTION</h2>
                <div class="star my-3 d-flex justify-content-center align-items-center text-center">
                    <div class="line rounded"></div>
                    <i class="fas fa-star"></i>
                    <div class="line rounded"></div>
                </div>
            </div>
        </div>
        <div class="row  w-50 m-auto  ">
            <div class="border-bottom py-3 mb-3">
                <input type="text" class="form-control  bg-transparent  border-0" name="" id=""
                    placeholder="userName">
            </div>
            <div class=" border-bottom py-3 mb-3">
                <input type="number" class="form-control  bg-transparent  border-0" name="" id=""
                    placeholder="userAge">
            </div>
            <div class="border-bottom py-3 mb-3">
                <input type="email" class="form-control  bg-transparent  border-0" name="" id=""
                    placeholder="userEmail">
            </div>
            <div class="border-bottom py-3 mb-3">
                <input type="password" class="form-control  bg-transparent  border-0" name="" id=""
                    placeholder="userPassword">
            </div>
            <button class="btn mb-5 form-btn text-white   my-4 px-4 w-auto">Send Message</button>
        </div>
    </div>
</section>
